@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contatos.css");
@import url("rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: hsl(40, 100%, 46%);
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans"; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}